ENV="dev"
FLASK_APP="app.py"
FLASK_ENV="development"
SECRET_KEY="<GENERATE SECURE SECRET KEY>"
PINTEREST_CLIENT_ID="<OBTAIN FROM PINTEREST DEVELOPER PORTAL>"
PINTEREST_CLIENT_SECRET="<OBTAIN FROM PINTEREST DEVELOPER PORTAL>"
PINTEREST_API_BASE_URL="https://api.pinterest.com/v3"
DATABASE_URL="<DATABASE CONNECTION URL STRING>"
SITE_SCHEME="https"
SITE_DOMAIN="localhost:5000"
STRIPE_SECRET_KEY="<OBTAIN FROM STRIPE>"


# Flask-Mail SMTP server settings
MAIL_SERVER="smtp.gmail.com"
MAIL_PORT="465"
MAIL_USE_SSL="True"
MAIL_USE_TLS=""
MAIL_USERNAME="<GMAIL OR YOUR PREFERRED SMTP SERVER USERNAME>"
MAIL_PASSWORD="<SMTP SERVER PASSWORD>"
MAIL_DEFAULT_SENDER="<SMTP SERVER EMAIL>"


# Flask-User settings
USER_APP_NAME="PinAutomatic"
USER_ENABLE_EMAIL="True"
USER_ENABLE_USERNAME=""
USER_EMAIL_SENDER_NAME=USER_APP_NAME
USER_EMAIL_SENDER_EMAIL="<FLASK-USER EMAIL>"