.message {
    padding-top: 3em;
    line-height: 150%;
    font-size: 1.7em;
    width: 90%;
}
#login-button {
    width: 20em;
    border-radius: 7px;
    margin-top: 5em;
    border: white solid 7px;
}