@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300';
body {
	/*background-color: rgba(211, 84, 0, 0.2);*/
	background-color: white;
	/*font-family: 'Josefin Sans', sans-serif !important;*/
	font-family: 'Brandon Text', sans-serif;
	font-weight: 300;
}

.container {
	width: 90%;
	background-color: rgba(211, 84, 0, 0.2);
	padding: 10px 10px 2em 10px;
	border-radius: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.intro-image {
	margin-top: 15px;
	margin-bottom: 40px;
}

h1 {
	font-size: 25px !important;
	display: inline;
}

.input-area {
	padding-top: 10px;
}

.btn-danger, .btn-warning {
	margin-top: 2em;
}

.title {
	margin-bottom: 0.5em;
	font-size: 1.8em;
	font-weight: bolder;
}

.input-box {
	margin-bottom: 2.4em;
}
.status-box {
	background-color: rgba(211, 84, 0, 0.2);
	width: 80%;
	border-radius: 5px;
	min-height: 5em;
	text-align: left;
	padding: 10px 10px 10px 10px;
}

.status-box, .text {
	font-weight: bold;
	font-size: 1.2em;
}

#err1, #err2, #err {
	color: red;
	font-size: 18px;
}

#response {
	color: red;
}

.modal-body {
	text-align: left;
	font-size: 17px;
}

@media only screen and (min-width: 450px) {
	.container {
		width: 500px;
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
	h1 {
		font-size: 20px !important;
		display: inline;
	}
	.title {
		margin-top: 30px;
		text-align: center;
	}
	.input-box {
		margin-top: 10px;
		text-align: center;
	}
	.input-area {
		padding-top: 10px;
	}
	.btn-danger, .btn-warning {
		margin-top: 60px;
	}
	.intro-image {
		margin-bottom: 15px;
	}
}