@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
body {
	background-color: white;
	font-family: 'Brandon Text', 'Open Sans', sans-serif;
	font-weight: 300;
}

.container {
	width: 90%;
	background-color: #F7EEF8;
	padding: 10px 0px 0px 0px;
	border-radius: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.intro-image {
	margin-top: 15px;
	margin-bottom: 40px;
}

h1 {
	font-size: 25px !important;
	display: inline;
}

.input-area {
	padding-top: 10px;
}

.btn-danger, .btn-warning {
	margin-top: 2em;
}

.title {
	margin-bottom: 0.5em;
	font-size: 1.8em;
	font-weight: bolder;
}

.input-box {
	margin-bottom: 2.4em;
}

.status-box {
	background-color: rgba(211, 84, 0, 0.2);
	width: 80%;
	border-radius: 5px;
	min-height: 5em;
	text-align: left;
	padding: 10px 10px 10px 10px;
}

.status-box, .text {
	font-weight: bold;
	font-size: 1.2em;
}

#err1, #err2, #err {
	color: red;
	font-size: 18px;
}

#response {
	color: red;
}

.modal-body {
	text-align: left;
	font-size: 17px;
}

.sign-out, .contact-dev, .privacy-policy {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.2em;
}

.sign-out a, .contact-dev a, .privacy-policy a {
	color: #888888;
}

.footer {
	background-color: #452533;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 3em 10px 0em 10px;
	margin-top: 3em;
}
.footer a {
	color: white;
}
.bmc-button img {
	width: 20px;
	margin-bottom: 1px;
	box-shadow: none;
	border: none;
	vertical-align: middle;
}
.bmc-button{
	padding: 7px 10px 7px 15px;
	line-height: 35px !important;
	text-decoration: none !important;
	display:inline-flex !important;
	color:#ffffff !important;
	background-color:#FF813F !important;
	border-radius: 5px !important;
	border: 1px solid transparent !important;
	font-size: 1.2em !important;
	letter-spacing: 0.6px !important;
	box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
	-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
	margin-bottom: 50px;
	font-family:'Cookie', cursive !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	-o-transition: 0.3s all linear !important;
	-webkit-transition: 0.3s all linear !important;
	-moz-transition: 0.3s all linear !important;
	-ms-transition: 0.3s all linear !important;
	transition: 0.3s all linear !important;
}

@media only screen and (min-width: 450px) {
	.container {
		width: 500px;
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
	h1 {
		font-size: 20px !important;
		display: inline;
	}
	.title {
		margin-top: 30px;
		text-align: center;
	}
	.input-box {
		margin-top: 10px;
		text-align: center;
	}
	.input-area {
		padding-top: 10px;
	}
	.btn-danger, .btn-warning {
		margin-top: 60px;
	}
	.intro-image {
		margin-bottom: 15px;
	}
	.pull-right {
		position: absolute;
		z-index: 9999;
		top: 25px;
		right: 35px;
		font-size: 1.2em;
	}
}