@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
body {
	background-color: white;
	font-family: 'Brandon Text', 'Open Sans', sans-serif;
	font-weight: 300;
}
.outer-box {
	width: 90%;
	background-color: #F7EEF8;
	padding: 10px 0px 0px 0px;
	border-radius: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.intro-image {
	margin-top: 15px;
}
.form {
	padding-top: 2em;
}
.btn-default {
	margin-top: 1.5em;
}
.footer {
	background-color: #452533;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 2em 10px 1em 10px;
	margin-top: 3em;
}
.footer a {
	color: white;
}
.bmc-button img {
	width: 20px;
	margin-bottom: 1px;
	box-shadow: none;
	border: none;
	vertical-align: middle;
}
.bmc-button{
	padding: 7px 10px 7px 15px;
	line-height: 35px !important;
	text-decoration: none !important;
	display:inline-flex !important;
	color:#ffffff !important;
	background-color:#FF813F !important;
	border-radius: 5px !important;
	border: 1px solid transparent !important;
	font-size: 1.2em !important;
	letter-spacing: 0.6px !important;
	box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
	-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
	margin-bottom: 50px;
	font-family:'Cookie', cursive !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	-o-transition: 0.3s all linear !important;
	-webkit-transition: 0.3s all linear !important;
	-moz-transition: 0.3s all linear !important;
	-ms-transition: 0.3s all linear !important;
	transition: 0.3s all linear !important;
}
label {
	font-weight: 300;
}
.intro-text {
	margin-bottom: 30px;
	font-size: 1.1em;
	padding: 0 20px 0 20px;
}
.card {
	padding: 0 30px 0 30px;
}
@media only screen and (min-width: 450px) {
	.container {
		width: 500px;
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
	.intro-text {
		padding: 0 50px 0 50px;
	}
}