@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
body {
	background-color: white;
	font-family: 'Brandon Text', 'Open Sans', sans-serif;
	font-weight: 300;
}
.outer-box {
	width: 90%;
	background-color: #F7EEF8;
	padding: 10px 10px 2em 10px;
	border-radius: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.intro-image {
	margin-top: 15px;
	margin-bottom: 40px;
}
.form {
	padding-top: 2em;
}
.btn-default {
	margin-top: 1.5em;
}
@media only screen and (min-width: 450px) {
	.container {
		width: 500px;
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
	.intro-image {
		margin-bottom: 15px;
	}
}