{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/authorize.css') }}">
{% endblock %}

{% block content %}
<div class="card">
    <a href="https://api.pinterest.com/oauth/?response_type=code&redirect_uri=https://pinterestautomatic.herokuapp.com/pin.html&client_id={{ credentials.client_id }}&scope=read_public,write_public&state=secret"><img src="{{ url_for('static', filename='img/login.jpg') }}" alt="Login Button" id="login-button"></a>
    <div class="message">
        Authorize <strong>PinterestAutomatic</strong> to access your Pinterest Account to allow adding of Pins to your boards.
    </div>
</div>

{% endblock %}