{% extends "base.html" %}


{% block content %}
	<div class="container" align="center">
		<!-- Modal -->
		<div id="help" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">

		    <!-- Modal content-->
		    <div class="modal-content">
		    	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>
		        	<h4 class="modal-title">Help</h4>
		    	</div>
		    	<div class="modal-body">
					<h1>Working</h1>
					<br><br>
					Once you're logged in, you don't need to login again unless there has been an inactivity for more than 7 days or you clear out your cookies. The app stores your Pinterest Token in cookies, so enable cookies to avoid logging in everytime you use this app. <br>
					Source Board and Destination Boards can be entered in 2 ways- <br>
					<ul>
						<li> Either the complete URL of boards can be entered from the Pinterest Site. </li>
						<li> Or you can enter it manually as "Username/Board-name", if you know the username and board name of the person. </li>
					</ul>
					The Destination Board can even be a Secret Board in your account.<br><br>

					<h1>Limitations</h1>
					<br><br>
					The only limitation is that you can only pin 1000 pins per hour as this is the limit put up by Pinterest API, but I think that a 1000 pins must be enough for one day ;) .

					<h2>Disclaimer</h2>
					This app complies completely with <a href="https://developers.pinterest.com/policy/">Pinterest Developer's Policy</a>. If you have any issues contact me via <a href="http://scr.im/3hmx">email</a>.
		    	</div>
		    	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    	</div>
		    </div>

		  </div>
		</div>

		<div class="input-area">
			<form onsubmit="pinThem(event);">
				<div class="col-md-6 col-sm-12 col-xs-12 title" style="padding-top: 8px;">
					<h1>Source Board</h1>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 input-box">
					<input type="text" id="source_board" class="input-lg" placeholder="username/board">
					<div id="err1"></div>
				</div>

				<div class="col-md-6 col-sm-12 col-xs-12 title" style="padding-top: 8px;">
					<h1>Destination Board</h1>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 input-box">
					<input type="text" id="destination_board" class="input-lg" placeholder="username/board">
					<div id="err2"></div>
				</div>
				<button class="btn btn-lg btn-warning" type="button" data-toggle="modal" data-target="#help">Help</button>
				<input type="submit" class="btn btn-lg btn-danger" value="Pin Them !">
				<br><br>
			</form>

			<br>
			<div id="response" align="center"></div>
		</div>
	</div>



	<script type="text/javascript" src="js/pin.js"></script>
	<script type="text/javascript">
		var app_id = "4844984301336407368";
		var app_secret = "6a6dcd9d6a9dfdabb5ff9d5df8948c7f1a67d967e3cb8a4e68c69ab59c3a808e";
		var url = window.location.href;
		var url_par = url.split("?");

		if (url_par[1] == undefined) {
			window.location = "https://pinterestautomatic.herokuapp.com/index.html";
		} else {
			var state = url_par[1].split("&")[0];
			if (state.split("=")[0] == "state") {
				state = state.split("=")[1];

				if (state == "cookie") {
					var token = getCookie("pa-token");
					if (token == "") {
						window.location = "https://pinterestautomatic.herokuapp.com/index.html";
					} else {
						setCookie("pa-token", token, 7);
					}
				} else if (state == "secret") {
					var code = url_par[1].split("&")[1];
					if (code == undefined) {
						window.location = "https://pinterestautomatic.herokuapp.com/index.html";
					} else if (code.split("=")[0] != "code") {
						window.location = "https://pinterestautomatic.herokuapp.com/index.html";
					} else if (code.split("=")[0] == "code") {
						var code_value = code.split("=")[1];

						$.ajax({
							type: "POST",
							url: "https://api.pinterest.com/v1/oauth/token?grant_type=authorization_code&client_id=" + app_id + "&client_secret=" + app_secret + "&code=" + code_value,
							success: function(result){
								token = result["access_token"];
								setCookie("pa-token", token, 7);
								console.log(token);
								window.location = "https://pinterestautomatic.herokuapp.com/pin.html?state=cookie";
							},
							error: function(){
								$("body").html("<center><br><br><br><br><br><br><br><h1>Error obtaining Token...<br>Please contact the admin</h1></center>")
								setTimeout( function() {
									window.location = "https://pinterestautomatic.herokuapp.com/index.html"
								}, 5 * 1000 );
							}
						});
					}
				} else {
					window.location = "https://pinterestautomatic.herokuapp.com/index.html";
				}

			} else {
				window.location = "https://pinterestautomatic.herokuapp.com/index.html";
			}
		}
	</script>
{% block content %}