{% extends "base.html" %}


{% block content %}
	<!-- Modal -->
	<div id="help" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Help</h4>
				</div>
				<div class="modal-body">
					<h1>Working</h1>
					<br><br>
					Once you're logged in, you don't need to login again unless there has been an inactivity for more than 7 days or you clear out your cookies. The app stores your Pinterest Token in cookies, so enable cookies to avoid logging in everytime you use this app. <br>
					Source Board and Destination Boards can be entered in 2 ways- <br>
					<ul>
						<li> Either the complete URL of boards can be entered from the Pinterest Site. </li>
						<li> Or you can enter it manually as "Username/Board-name", if you know the username and board name of the person. </li>
					</ul>
					The Destination Board can even be a Secret Board in your account.<br><br>

					<h1>Limitations</h1>
					<br><br>
					The only limitation is that you can only pin 1000 pins per hour as this is the limit put up by Pinterest API, but I think that a 1000 pins must be enough for one day ;) .

					<h2>Disclaimer</h2>
					This app complies completely with <a href="https://developers.pinterest.com/policy/">Pinterest Developer's Policy</a>. If you have any issues contact me via <a href="http://scr.im/3hmx">email</a>.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="input-area">
		<form onsubmit="pinThem(event);">
			<div class="title">Source Board</div>
			<div class="input-box">
				<input type="text" id="source_board" class="input-lg" placeholder="username/board">
				<div id="err1"></div>
			</div>

			<div class="title">Destination Board</div>
			<div class="input-box">
				<input type="text" id="destination_board" class="input-lg" placeholder="username/board">
				<div id="err2"></div>
			</div>

			<div class="title">Link</div>
			<div class="input-box">
				<input type="text" id="pin_link" class="input-lg" placeholder="Pin Link">
			</div>

			<div class="title">Description</div>
			<div class="input-box">
				<textarea id="description" class="input-lg" placeholder="Description" rows="3"></textarea>
			</div>
			<div class="text">Number of requests left for the hour: <span id="pins-left"></span></div>
			<br><br>
			<div class="status-box">Status<br><span id="status"></span></div>
			<button class="btn btn-lg btn-warning" type="button" data-toggle="modal" data-target="#help">Help</button>
			<input disabled type="submit" class="btn btn-lg btn-danger" id="pin-button" value="Pin Them !">
			<br><br>
		</form>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/pin.js') }}"></script>
{% endblock %}