{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/purchase_pins.css') }}">
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
  <div class="form-check">
    <input class="form-check-input" type="radio" name="pin-bundle" id="1">
    <label class="form-check-label" for="1">
      1,000 Pins<br>$10
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="pin-bundle" id="2" checked>
    <label class="form-check-label" for="2">
      5,000 Pins<br>$40&nbsp;&nbsp;<span class="offer">(20% Off)</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="pin-bundle" id="3">
    <label class="form-check-label" for="3">
      10,000 Pins<br>$70&nbsp;&nbsp;<span class="offer">(30% Off)</span>
    </label>
  </div>

  <button type="button" class="btn btn-lg btn-success" id="checkout-button">Checkout</button>
  <br><br>
{% endblock %}
{% block script %}
<script type="text/javascript">
// var stripe = Stripe("pk_test_2NnDpbC276Wpzdrb8PhHcOgW00YWLBqXTg");
var stripe = Stripe("pk_live_NWqBLNbw4gWLOvFBwLKExko3008t5HI9i2");
var checkoutButton = document.getElementById("checkout-button");

checkoutButton.addEventListener("click", function () {
  var pinBundleId = parseInt($("input[name='pin-bundle']:checked").attr('id'));
  var data = {
    "bundle_id": pinBundleId
  }

  fetch("/create-checkout-session", {
    method: "POST",
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })
    .then(function (response) {
      return response.json();
    })
    .then(function (session) {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function (result) {
      // If redirectToCheckout fails due to a browser or network
      // error, you should display the localized error message to your
      // customer using error.message.
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function (error) {
      console.error("Error:", error);
    });
});
</script>
{% endblock %}